.table-responsive {
  overflow-x: auto;
}

.table td, .table th {
  text-align: center; /* Center text if needed */
  word-wrap: break-word; /* Ensures text wrapping */
  max-width: 150px; /* Adjust to make columns more compact if needed */
}

.table td ul {
  padding-left: 15px;
}

.table td img {
  max-width: 100%; /* Ensures images fit their column size */
}


.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-content {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  display: none;
  min-width: 200px;
}

.tooltip-container:hover .tooltip-content {
  display: block;
}